# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
/.roo
/.github
/.windsurf
/.trae
/.codex
/.continue
/.codebuddy
/.claude
/.gemini
/.cursor
/.kiro
/.opencode
/.qoder
/.agent
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
